<head>
  <style>
    body {
      background-color: #2E282A;
              font: Verdana;
              font-size: 16pt;
              color: #17BEBB;
      }
  </style>
  <title>All Spaces</title>
</head>
<body>
    <% @spaces.each do |space| %>
      <div>
        <%= space.name %>
      <p><%= space.description %>
      </div>
    <% end %>
</body>
</html>
