<!DOCTYPE html>
<html>
<head>
 </head>
<body style="font-size:62.5%;">

 <form action="/requests" method="post">

Start Date: <input type="date" name="startdate" id="start_datepicker"/>
End Date: <input type="date" name="enddate" id="end_datepicker"/>
          <input type="submit" value="Submit"/>
</form>
</body>
</html>
