<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MakersBnB</title>
    <!-- <link rel = "stylesheet" type = "text/css" href = "css/style.css" </link> -->
  </head>
  <body>
      <form method='GET' action='/spaces/new'>
          <input type='submit' value='List a space' />
      </form>
  </body>
  </html>
  
