  <head>
        <!-- <link rel="stylesheet" type="text/css" href="..Public/style.css"> -->
    <!-- <meta charset="utf-8"> -->
    <title>MakersBnB</title>
    <style>
        body {
            background-color: #2E282A;
              font: Verdana;
              font-size: 16pt;
              color: #17BEBB;
            }
    </style>
  </head>
  <body>
    <div>
      <form method='POST' action='/user/new'>
        <label for="Email address">Email address</label>
        <input type='text' name='Email address'>
        <p><label for="Password">Password</label>
        <input type='text' name='Password'>
        <p><label for="Password confirmation">Password confirmation</label>
        <input type='text' name='Password confirmation'>
    </div>

      <form method='GET' action='/spaces/new'>
          <input type='submit' value='List a space' />
      </form>
  </body>
  </html>
