  <head>
        <!-- <link rel="stylesheet" type="text/css" href="..Public/style.css"> -->
    <!-- <meta charset="utf-8"> -->
    <title>MakersBnB</title>
  </head>
  <body>
      <form method='GET' action='/spaces/new'>
          <input type='submit' value='List a space' />
      </form>
  </body>
  </html>
