<!DOCTYPE html>
<html>
  <head>
        <!-- <link rel="stylesheet" type="text/css" href="..Public/style.css"> -->
    <!-- <meta charset="utf-8"> -->
    <title>MakersBnB</title>
    <style>
        body {
            background-color: #2E282A;
              font: Verdana;
              font-size: 16pt;
              color: #17BEBB;
            }
    </style>
  </head>
  <body>
      <form method='GET' action='/spaces/new'>
          <input type='submit' value='List a space' />
      </form>
      <form method="GET" action="/spaces" >
        <input type="submit" value="View available spaces">
      </form>
  </body>
  </html>
