<head>
        <!-- <link rel="stylesheet" type="text/css" href="..Public/style.css"> -->
    <!-- <meta charset="utf-8"> -->
    <title>Requests</title>
    <style>
        body {
            background-color: #2E282A;
              font: Verdana;
              font-size: 16pt;
              color: #17BEBB;
            }
    </style>
  </head>
  <body>
      You have booked <%= @space_name %> for <%= @request.start_date %> to <%= @request.end_date %>
  </body>
  </html>
